/*
* flexvh - center elements and columns flexily
* flex - creates equal heights and alignment for children
* flex col - center multiple rows in a min-height section
*/
.fullheight {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flexvh.flexvh.flexvh.flexvh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex.flex.flex.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .flex.flex.flex.flex.x-container::after, .flex.flex.flex.flex.x-container::before {
    content: none; }

.flex > * {
  margin: 0; }

.flex.col.flex.col {
  flex-flow: column wrap;
  justify-content: center;
  width: 100% !important; }

.flex.row.flex.row {
  flex-flow: row nowrap;
  justify-content: center;
  width: 100% !important; }

.flex.sec.flex.sec {
  flex-flow: column wrap;
  justify-content: center;
  width: 100% !important;
  height: 100% !important; }
  .flex.sec.flex.sec::before, .flex.sec.flex.sec::after {
    clear: none;
    content: none; }

.wrap-reverse {
  flex-wrap: wrap-reverse; }

.fab {
  align-self: flex-end; }

.space-around {
  justify-content: space-around !important; }

.grid-default {
  /*this is for when we can forever ignore ie11 and cast it back from whence it came TODO:2030 */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem; }

.grid-ie11 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.5em;
  -ms-grid-columns: 1fr 1.5em 1fr 1.5em 1fr 1.5em 1fr 1.5em 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 3em;
  -ms-grid-rows: auto 3em auto 3em auto 3em auto 3em auto;
  grid-auto-flow: row; }
  .grid-ie11 > div:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1; }
  .grid-ie11 > div:nth-of-type(2) {
    -ms-grid-column: 3;
    -ms-grid-row: 1; }
  .grid-ie11 > div:nth-of-type(3) {
    -ms-grid-column: 5;
    -ms-grid-row: 1; }
  .grid-ie11 > div:nth-of-type(4) {
    -ms-grid-column: 7;
    -ms-grid-row: 1; }
  .grid-ie11 > div:nth-of-type(5) {
    -ms-grid-column: 9;
    -ms-grid-row: 1; }
  .grid-ie11 > div:nth-of-type(6) {
    -ms-grid-column: 1;
    -ms-grid-row: 3; }
  .grid-ie11 > div:nth-of-type(7) {
    -ms-grid-column: 3;
    -ms-grid-row: 3; }
  .grid-ie11 > div:nth-of-type(8) {
    -ms-grid-column: 5;
    -ms-grid-row: 3; }
  .grid-ie11 > div:nth-of-type(9) {
    -ms-grid-column: 7;
    -ms-grid-row: 3; }
  .grid-ie11 > div:nth-of-type(10) {
    -ms-grid-column: 9;
    -ms-grid-row: 3; }
  .grid-ie11 > div:nth-of-type(11) {
    -ms-grid-column: 1;
    -ms-grid-row: 5; }
  .grid-ie11 > div:nth-of-type(12) {
    -ms-grid-column: 3;
    -ms-grid-row: 5; }
  .grid-ie11 > div:nth-of-type(13) {
    -ms-grid-column: 5;
    -ms-grid-row: 5; }
  .grid-ie11 > div:nth-of-type(14) {
    -ms-grid-column: 7;
    -ms-grid-row: 5; }
  .grid-ie11 > div:nth-of-type(15) {
    -ms-grid-column: 9;
    -ms-grid-row: 5; }
  .grid-ie11 > div:nth-of-type(16) {
    -ms-grid-column: 1;
    -ms-grid-row: 7; }
  .grid-ie11 > div:nth-of-type(17) {
    -ms-grid-column: 3;
    -ms-grid-row: 7; }
  .grid-ie11 > div:nth-of-type(18) {
    -ms-grid-column: 5;
    -ms-grid-row: 7; }
  .grid-ie11 > div:nth-of-type(19) {
    -ms-grid-column: 7;
    -ms-grid-row: 7; }
  .grid-ie11 > div:nth-of-type(20) {
    -ms-grid-column: 9;
    -ms-grid-row: 7; }
  .grid-ie11 > div:nth-of-type(21) {
    -ms-grid-column: 1;
    -ms-grid-row: 9; }
  .grid-ie11 > div:nth-of-type(22) {
    -ms-grid-column: 3;
    -ms-grid-row: 9; }
  .grid-ie11 > div:nth-of-type(23) {
    -ms-grid-column: 5;
    -ms-grid-row: 9; }
  .grid-ie11 > div:nth-of-type(24) {
    -ms-grid-column: 7;
    -ms-grid-row: 9; }
  .grid-ie11 > div:nth-of-type(25) {
    -ms-grid-column: 9;
    -ms-grid-row: 9; }

.themecolor {
  color: #ddd; }
  .themecolor.hover {
    color: #ddd; }

.white {
  color: white; }
  .white:hover {
    color: white; }

.remove-clearfix::before, .remove-clearfix::after {
  content: none !important; }

.bold {
  font-weight: 700; }

.italics {
  font-style: italic; }

.vh20 {
  min-height: 20vh; }

.vh30 {
  min-height: 30vh; }

.vh40 {
  min-height: 40vh; }

.vh50 {
  min-height: 50vh; }

.vh60 {
  min-height: 60vh; }

.vh70 {
  min-height: 70vh; }

.vh80 {
  min-height: 80vh; }

.vh90 {
  min-height: 90vh; }

.vh100 {
  min-height: 100vh; }

.overflow {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

body {
  overflow: hidden; }

.x-root .site,
.x-root .x-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  min-height: 100vh;
  background: transparent; }

footer {
  bottom: 0;
  margin-top: auto; }

.hide-flip-button .x-anchor-button {
  display: none; }

.fixed-bg > [class*="x-bg-layer-lower"],
.fixed-bg > .x-bg > [class*="x-bg-layer-lower"] {
  background-attachment: fixed; }
  @supports (-webkit-overflow-scrolling: touch) {
    .fixed-bg > [class*="x-bg-layer-lower"],
    .fixed-bg > .x-bg > [class*="x-bg-layer-lower"] {
      background-attachment: scroll; } }

.overlap-top {
  margin-top: -4em; }

.overlap-bottom {
  margin-bottom: -4em; }

/*# sourceMappingURL=qds_custom.css.map */
